@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";

:root {
    --color-background: oklch(11.80% 0.042 269.43);
    --color-background-400: oklch(83.75% 0.012 259.82);
    --color-background-500: oklch(67.32% 0.030 276.61);
    --color-background-600: oklch(50.75% 0.034 276.66);
    --color-background-700: oklch(38.74% 0.034 275.86);
    --color-background-800: oklch(26.42% 0.024 277.77);
    --color-background-900: oklch(18.91% 0.033 277.37);
    --color-primary: oklch(96.41% 0.004 91.45);
    --color-red: oklch(72.61% 0.172 14.14);
    --color-yellow: oklch(96.64% 0.163 112.43);
    --color-blue: oklch(77.59% 0.121 246.67);
    --font-krub: "Krub", sans-serif;
    --font-merryweather: "Merriweather", serif;
  }


@theme inline {
  --color-background: var(--color-background);
  --color-background-400: var(--color-background-400);
  --color-background-500: var(--color-background-500);
  --color-background-600: var(--color-background-600);
  --color-background-700: var(--color-background-700);
  --color-background-800: var(--color-background-800);
  --color-background-900: var(--color-background-900);
  --color-primary: var(--color-primary);
  --color-red: var(--color-red);
  --color-yellow: var(--color-yellow);
  --color-blue: var(--color-blue);
  --font-krub: "Krub", sans-serif;
  --font-merryweather: "Merriweather", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(11.80% 0.042 269.43);
    --color-background-400: oklch(83.75% 0.012 259.82);
    --color-background-500: oklch(67.32% 0.030 276.61);
    --color-background-600: oklch(50.75% 0.034 276.66);
    --color-background-700: oklch(38.74% 0.034 275.86);
    --color-background-800: oklch(26.42% 0.024 277.77);
    --color-background-900: oklch(18.91% 0.033 277.37);
    --color-primary: oklch(96.41% 0.004 91.45);
    --color-red: oklch(72.61% 0.172 14.14);
    --color-yellow: oklch(96.64% 0.163 112.43);
    --color-blue: oklch(77.59% 0.121 246.67);
  }
}


.scrollbar-custom::-webkit-scrollbar {
  height: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: var(--color-background); /* ou ta valeur Tailwind bg-background */
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: theme('colors.background.800'); /* adapte selon ta config */
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: theme('colors.background.600');
}